.logo {
  width: 155px;
  height: 50px;
  float: left;
  @include clr;
}

.logo__img {
  float: left;
}

.logo__link {
  width: 100%;
  height: 100%;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.logotype {
  font: 1.714em/32px $ffAM;
  color: #fff;
  text-transform: uppercase;
}
