.nav, .nav_pos_fixed {
  width: 100%;
  padding: 20px 50px 0 30px;
  @include clr;
  position: absolute;
  top: 0;
  left: 0;
}

.nav_pos_fixed {
  padding-top: 0;
  padding-bottom: 10px;
  position: fixed;
  background-color: fade-out($red, .4);
  z-index: 5;
}

.navbar {
  margin-top: 22px;
  float: right;
}

.navbar__item {
  margin-right: 50px;
  display: inline-block;

  &:last-child {
      margin-right: 0;
  }
}

.slideUp-1 { animation-delay: 0; }
.slideUp-2 { animation-delay: .5s; }
.slideUp-3 { animation-delay: 1s; }
.slideUp-4 { animation-delay: 1.5s; }
.slideUp-5 { animation-delay: 2s; }

.navbar__link {
  font: 0.929em/11px $ffAM;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      right: 50%;
      height: 3px;
      top: 15px;
      opacity: 0;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    &.active:before,
    &:hover:before {
      background: $green;
      left: 0;
      opacity: 1;
    }

    &.active:after,
    &:hover:after {
      background: $red;
      right: 0;
      opacity: 1;
    }

    &:active,
    &:focus,
    &:hover {
        color: $green;
        text-decoration: none;
    }
}

.lt-ie9 .btn:hover:before {
  filter: alpha(opacity=100);
}

.lt-ie9 .btn:hover:after {
  filter: alpha(opacity=100);
}

.active {
    color: $green;
}

.navbar-trigger {
  display: none;
  font-size: 45px;
  color:#fff;
  float: right;
  line-height: 1;
  cursor: pointer;
  transition: color .3s ease-in-out;
  font-family: Arial Unicode MS, Lucida Sans Unicode, sans-serif;
  &:hover {
    color: $red;
  }
}

.closebtn {
    color: #fff;
    font-size: 2em;
    display: none;


    &:hover {
      color: red;
      text-decoration: none;
    }
  }